/* Contenedor principal de la galería */
.contenedor-galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Estilo para las categorías */
.categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espacio entre las tarjetas */
}

/* Estilo para cada tarjeta de categoría */
.categoria-card {
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s; /* Animación de escala */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  overflow: hidden; /* Asegura que no haya desbordamientos */
}

/* Estilo de la imagen en la tarjeta */
.categoria-imagen {
  width: 100%;
  height: 200px; /* Altura fija para las imágenes */
  overflow: hidden; /* Asegura que la imagen no se desborde */
}

.categoria-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen se ajuste sin deformarse */
}

/* Estilo de la categoría */
.categoria-card h4 {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
}

/* Estilo de la galería de la categoría seleccionada */
.galeria-categoria {
  text-align: center;
}

/* Estilo para las imágenes en la galería de categoría seleccionada */
.galeria-categoria .imagenes {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.galeria-categoria .imagenes img {
  width: 200px;
  height: 200px;
  object-fit: cover; /* Ajuste adecuado para las imágenes */
  border-radius: 10px; /* Bordes redondeados */
}

/* Estilo del botón de regresar */
.btn-regresar {
  background-color: #73A9AD; /* Color de fondo */
  color: white; /* Texto blanco */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño del texto */
  font-weight: bold; /* Texto en negrita */
  cursor: pointer; /* Cambiar el cursor a mano */
  transition: all 0.3s ease; /* Animación suave */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
}

/* Efecto hover */
.btn-regresar:hover {
  background-color: #355764; /* Oscurecer el fondo */
  transform: scale(1.1); /* Aumentar ligeramente el tamaño */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Incrementar la sombra */
}

/* Efecto de clic */
.btn-regresar:active {
  transform: scale(0.95); /* Reducir ligeramente el tamaño */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reducir la sombra */
}


/* Efecto hover */
.btn-regresar:hover {
  background-color: #355764; /* Oscurecer el fondo */
  transform: scale(1.1); /* Aumentar ligeramente el tamaño */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Incrementar la sombra */
}

/* Efecto de clic */
.btn-regresar:active {
  transform: scale(0.95); /* Reducir ligeramente el tamaño */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reducir la sombra */
}
