<section class="videos-seccion container-fluid" id="videos">
    <h2 class="seccion-titulo">Galería de Videos</h2>
    <div class="videos-grid">
      <!-- Carta de Video 1 -->
      <div class="video-card">
        <div class="video-frame">
          <video controls>
            <source src="./videos/video1.mp4" type="video/mp4" />
            Tu navegador no soporta la reproducción de este video.
          </video>
        </div>
        <h4 class="video-titulo"> Infantiles</h4>
      </div>
  
      <!-- Carta de Video 2 -->
      <div class="video-card">
        <div class="video-frame">
          <video controls>
            <source src="./videos/video2.mp4" type="video/mp4" />
            Tu navegador no soporta la reproducción de este video.
          </video>
        </div>
        <h4 class="video-titulo">Remodelacion</h4>
      </div>
  
      <!-- Carta de Video 3 -->
      <div class="video-card">
        <div class="video-frame">
          <video controls>
            <source src="./videos/video3.mp4" type="video/mp4" />
            Tu navegador no soporta la reproducción de este video.
          </video>
        </div>
        <h4 class="video-titulo">Decoracionn</h4>
      </div>
    </div>
  </section>
  
  
  
  
