<nav id="navbar" class="navbar-fixed">
  <div class="nav-wrapper colorBarra">
    <!-- Logo de la marca -->
    <a href="#" class="brand-logo">
      <img src="img/DecoHabitat (1).jpeg" alt="Logo">
    </a>
    
    <!-- Menú lateral para dispositivos móviles -->
    <a href="#" data-target="slide-out" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
    
    <!-- Menú principal para pantallas grandes -->
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">{{ inicio }}</a></li>
      <li><a href="#ventajas">{{ ventajas }}</a></li>
      <li><a href="#nosotros">{{ nosotros }}</a></li>
      <li><a href="#personal">{{ personal }}</a></li>
      <li><a href="#servicios">{{ servicios }}</a></li>
      <li><a href="#galeria">{{ galeria }}</a></li>
      <li><a href="#videos">{{ videos }}</a></li>
      <li><a href="#formulario">{{ formulario }}</a></li>

      <!-- Ícono de Instagram -->
      <li>
        <a href="https://www.instagram.com/magical_toyland/" target="_blank" class="social-icon">
          <i class="fab fa-instagram" style="font-size: 24px;"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- Barra lateral para dispositivos móviles -->
<ul id="slide-out" class="sidenav fixed">
  <li>
    <div class="user-view">
      <a href="#user"><img class="circle" src="img/DecoHabitat (1).jpeg" alt="User"></a>
      <a href="#name"><span class="black-text name">Karen Edith</span></a>
      <a href="#email"><span class="black-text email">karen1423_gmail.com</span></a>
    </div>
  </li>
  <li><a href="#inicio"><i class="material-icons">home</i>{{ inicio }}</a></li>
  <li><a href="#ventajas"><i class="material-icons">check</i>{{ ventajas }}</a></li>
  <li><a href="#nosotros"><i class="material-icons">group</i>{{ nosotros }}</a></li>
  <li><a href="#personal"><i class="material-icons">face</i>{{ personal }}</a></li>
  <li><a href="#servicios"><i class="material-icons">headset</i>{{ servicios }}</a></li>
  <li><a href="#galeria"><i class="material-icons">monochrome_photos</i>{{ galeria }}</a></li>
  <li><a href="#formulario"><i class="material-icons">contact_mail</i>{{ formulario }}</a></li>
</ul>